Erinnerung an Ihre Reservierung

Lieber {name},

Ich schreibe Ihnen, um Sie an Ihre Reservierung im {restaurant} am {date} um {time} zu erinnern. Wir freuen uns darauf, Sie in unserem Haus begrüßen zu dürfen und Ihnen ein unvergessliches kulinarisches Erlebnis zu bieten.

Als geschätzter Kunde möchten wir sicherstellen, dass Ihre Reservierung noch bestätigt ist und Sie alle notwendigen Anpassungen vornehmen können. Wenn Sie aus irgendeinem Grund Ihre Reservierungszeit ändern oder stornieren müssen, zögern Sie bitte nicht, uns unter {restaurant_phone} zu kontaktieren.

Sie können Ihre Buchung auch über diesen Link ändern oder stornieren: {mybooking}

Unser Team im {restaurant} freut sich, Sie bedienen zu dürfen, und wir werden unser Bestes tun, um sicherzustellen, dass Ihr kulinarisches Erlebnis außergewöhnlich ist. Wenn Sie spezielle Wünsche oder diätetische Einschränkungen haben, teilen Sie uns dies bitte mit und wir werden unser Bestes tun, um diese zu berücksichtigen.

Vielen Dank, dass Sie sich für uns entschieden haben, und wir freuen uns darauf, Sie bald zu sehen.

Diese Nachricht wurde von {site_link} am {current_date} gesendet.
