Påminnelse om din reservasjon

Kjære {name},

Jeg skriver for å minne deg på reservasjonen din på {restaurant} {date} kl. {time}. Vi ser frem til å ønske deg velkommen til vårt etablissement og gi deg en minneverdig matopplevelse.

Som en verdsatt kunde ønsker vi å sikre at din reservasjon fortsatt er bekreftet og at du er i stand til å foreta nødvendige justeringer. Hvis du av en eller annen grunn trenger å endre bestillingstidspunktet eller kansellere det, ikke nøl med å kontakte oss på {restaurant_phone}.

Du kan også endre eller kansellere bestillingen din ved å bruke denne linken: {mybooking}

Teamet vårt på {restaurant} er glade for å få muligheten til å tjene deg, og vi vil gjøre vårt beste for å sikre at matopplevelsen din blir eksepsjonell. Hvis du har spesielle forespørsler eller kostholdsbegrensninger, vennligst gi oss beskjed, så vil vi gjøre vårt beste for å imøtekomme dem.

Takk for at du valgte oss, og vi ser frem til å se deg snart.

Denne meldingen ble sendt av {site_link} {current_date}.
