Din reservation afventer den {date}

Hej {name}

Din reservationsanmodning venter på at blive bekræftet.
Giv os et øjeblik for at sikre, at vi har plads til dig.

Du vil snart modtage endnu en e-mail fra os.
Hvis denne anmodning blev fremsat uden for vores normale arbejdstid, kan vi muligvis ikke bekræfte det, før vi åbner igen.

Dine anmodningsoplysninger:
Navn: {name}
E-mail: {email}
Gæster: {party}
Dato: {date}
Tid: {time}
Telefon: {phone}
Besked: {message}
Tags: {tags}

Dit reservationsnummer er: {reservation_number}

<strong>En note fra os</strong>
{note_from_us}

<strong >Reservationspolitik</strong>
{reservation_policy}

tilføje til kalender
{add_to_calendar}

{social}


Du kan opdatere eller annullere din reservation her:
{mybooking}


Denne besked blev sendt af {site_link} den {current_date}.
