Din reservation er blevet ændret til {date}

Hej {name},

Din reservation er blevet ændret korrekt.
Du vil modtage en anden e-mail vedrørende status for din reservation.


Dine anmodningsdetaljer:
Navn: {name}
E-mail: {email}
Gæster: {party}
Dato: {date}
Tid: {time}
Telefon: {phone}
Besked: {message}
Tags: {tags}

Dit reservationsnummer er: {reservation_number}

{booking_modified}

<strong>En besked fra os</strong>
{note_from_us}

<strong>Reservationspolitik</strong>
{reservation_policy}

tilføj til kalender
{add_to_calendar}

{social}

Du kan annullere din reservation her:
{mybooking}

Denne besked blev sendt af {site_link} den {current_date}.
