Din reservation den {date} afventer betaling

Hej {name},


Vi har bemærket, at din reservationsanmodning stadig afventer betaling. Venligst fortsæt med betalingen for at bekræfte din reservation.

For at fuldføre din reservation, følg venligst dette link:
{mybooking}

Dine anmodningsdetaljer:
Navn: {name}
Email: {email}
Gæster: {party}
Dato: {date}
Tid: {time}
Telefon: {phone}
Besked: {message}
Tags: {tags}

Dit reservationsnummer er: {reservation_number}

<strong>En bemærkning fra os</strong>
{note_from_us}

<strong>Reservationspolitik</strong>
{reservation_policy}

tilføj til kalender
{add_to_calendar}

{social}


Denne besked blev sendt af {site_link} den {current_date}.
