Din reservation er bekræftet den {date}

Hej {name}

Din reservationsanmodning er blevet bekræftet.

Vi ser frem til at se dig snart.

Dine anmodningsoplysninger:
Navn: {name}
E-mail: {email}
Gæster: {party}
Dato: {date}
Tid: {time}
Telefon: {phone}
Besked: {message}
Tags: {tags}

Dit reservationsnummer er: {reservation_number}

<strong>En note fra os</strong>
{note_from_us}

<strong >Reservationspolitik</strong>
{reservation_policy}

tilføje til kalender
{add_to_calendar}

{social}


Du kan opdatere eller annullere din reservation her:
{mybooking}


Denne besked blev sendt af {site_link} den {current_date}.
