Påmindelse om din reservation

Kære {name}

Jeg skriver for at minde dig om din reservation på {restaurant} den {date} kl. {time}. Vi glæder os til at byde dig velkommen til vores etablissement og give dig en mindeværdig madoplevelse.

Som en værdsat kunde ønsker vi at sikre, at din reservation stadig er bekræftet, og at du er i stand til at foretage de nødvendige justeringer. Hvis du af en eller anden grund har brug for at ændre din reservationstid eller annullere den, så tøv ikke med at kontakte os på {restaurant_phone}.

Du kan også ændre eller annullere din reservation ved at bruge dette link: {mybooking}

Vores team hos {restaurant} er glade for at få muligheden for at betjene dig, og vi vil gøre vores bedste for at sikre, at din madoplevelse bliver enestående. Hvis du har særlige ønsker eller diætrestriktioner, så lad os det vide, og vi vil gøre vores bedste for at imødekomme dem.

Tak fordi du valgte os, og vi ser frem til at se dig snart.

Denne besked blev sendt af {site_link} den {current_date}.
