Votre réservation est en attente à {date}

Bonjour {name},

Votre demande de réservation est en attente de confirmation.
Donnez-nous quelques instants pour nous assurer que nous avons de la place pour vous.

Vous recevrez bientôt un autre e-mail de notre part.
Si cette demande a été faite en dehors de nos heures normales de travail, nous ne pourrons peut-être pas la confirmer jusqu'à ce que nous soyons à nouveau ouverts.

Détails de votre demande:
Nom: {name}
E-mail: {email}
Invité: {party}
Date: {date}
Temps: {time}
Téléphone: {phone}
Message: {message}
Tags: {tags}

Votre numéro de réservation est: {reservation_number}

<strong>Un mot de notre part</strong>
{note_from_us}

<strong>Politique de réservation</strong>
{reservation_policy}

ajouter au calendrier
{add_to_calendar}

{social}


Vous pouvez mettre à jour ou annuler votre réservation ici:
{mybooking}

Ce message a été envoyé par {site_link} le {current_date}.
