Votre réservation le {date} est en attente de paiement

Bonjour {name},


Nous avons remarqué que votre demande de réservation est toujours en attente de paiement. Veuillez procéder au paiement pour confirmer votre réservation.

Pour compléter votre réservation, veuillez suivre ce lien:
{mybooking}

Les détails de votre demande:
Nom: {name}
Email: {email}
Invités: {party}
Date: {date}
Heure: {time}
Téléphone: {phone}
Message: {message}
Tags: {tags}

Votre numéro de réservation est : {reservation_number}

<strong>Une note de notre part</strong>
{note_from_us}

<strong>Politique de réservation</strong>
{reservation_policy}

ajouter au calendrier
{add_to_calendar}

{social}


Ce message a été envoyé par {site_link} le {current_date}.
