Vous avez confirmé à nouveau votre réservation le {date}

Bonjour {name},

Merci d'avoir confirmé votre réservation.

Nous avons hâte de vous voir bientôt.

Détails de votre demande :
Nom : {name}
E-mail : {email}
Invités : {party}
Date : {date}
Heure : {time}
Téléphone : {phone}
Message : {message}
Étiquettes : {tags}

Votre numéro de réservation est le : {reservation_number}

<strong>Un mot de nous</strong>
{note_from_us}

<strong>Politique de réservation</strong>
{reservation_policy}

Ajouter au calendrier
{add_to_calendar}

{social}

Vous pouvez annuler votre réservation ici :
{mybooking}

Ce message a été envoyé par {site_link} le {current_date}.
