Votre réservation a été modifiée pour {date}

Bonjour {name},

Votre réservation a été correctement modifiée.
Vous recevrez un autre email concernant le statut de votre réservation.


Les détails de votre demande :
Nom : {name}
Email : {email}
Invités : {party}
Date : {date}
Heure : {time}
Téléphone : {phone}
Message : {message}
Étiquettes : {tags}

Votre numéro de réservation est : {reservation_number}

{booking_modified}

<strong>Une note de notre part</strong>
{note_from_us}

<strong>Politique de Réservation</strong>
{reservation_policy}

ajouter au calendrier
{add_to_calendar}

{social}

Vous pouvez annuler votre réservation ici :
{mybooking}

Ce message a été envoyé par {site_link} le {current_date}.
