Rappel de votre réservation

Cher {name},

Je vous écris pour vous rappeler votre réservation au {restaurant} le {date} à {time}. Nous sommes impatients de vous accueillir dans notre établissement et de vous offrir une expérience culinaire mémorable.

En tant que client estimé, nous voulons nous assurer que votre réservation est toujours confirmée et que vous êtes en mesure de faire les ajustements nécessaires. Si, pour une raison quelconque, vous devez modifier l'heure de votre réservation ou l'annuler, n'hésitez pas à nous contacter au {restaurant_phone}.

Vous pouvez également modifier ou annuler votre réservation en utilisant ce lien: {mybooking}

Notre équipe au {restaurant} est ravie d'avoir l'opportunité de vous servir, et nous ferons de notre mieux pour que votre expérience culinaire soit exceptionnelle. Si vous avez des demandes spéciales ou des restrictions alimentaires, veuillez nous en informer et nous ferons de notre mieux pour les satisfaire.

Merci de nous avoir choisis et nous espérons vous revoir bientôt.

Ce message a été envoyé par {site_link} le {current_date}.
