Sie haben Ihre Buchung am {date} erneut bestätigt

Hallo {name},

Vielen Dank für die Bestätigung Ihrer Buchung.

Wir freuen uns darauf, Sie bald zu sehen.

Ihre Buchungsdetails:
Name: {name}
E-Mail: {email}
Gäste: {party}
Datum: {date}
Uhrzeit: {time}
Telefon: {phone}
Nachricht: {message}
Tags: {tags}

Ihre Reservierungsnummer lautet: {reservation_number}

<strong>Ein Hinweis von uns</strong>
{note_from_us}

<strong>Reservierungspolitik</strong>
{reservation_policy}

Zum Kalender hinzufügen
{add_to_calendar}

{social}

Sie können Ihre Buchung hier stornieren:
{mybooking}

Diese Nachricht wurde von {site_link} am {current_date} gesendet.
