Ihre Buchung am {date} wartet auf Zahlung

Hallo {name},


Wir haben festgestellt, dass Ihre Buchungsanfrage noch aussteht. Bitte fahren Sie mit der Zahlung fort, um Ihre Reservierung zu bestätigen.

Um Ihre Reservierung abzuschließen, folgen Sie bitte diesem Link:
{mybooking}

Ihre Anfragedetails:
Name: {name}
E-Mail: {email}
Gäste: {party}
Datum: {date}
Uhrzeit: {time}
Telefon: {phone}
Nachricht: {message}
Tags: {tags}

Ihre Reservierungsnummer lautet: {reservation_number}

<strong>Eine Anmerkung von uns</strong>
{note_from_us}

<strong>Reservierungsrichtlinie</strong>
{reservation_policy}

zum Kalender hinzufügen
{add_to_calendar}

{social}


Diese Nachricht wurde von {site_link} am {current_date} gesendet.
