Ihre Buchung wurde geändert auf {date}

Hallo {name},

Ihre Buchung wurde erfolgreich geändert.
Sie erhalten eine weitere E-Mail über den Status Ihrer Reservierung.


Ihre Anfragedetails:
Name: {name}
E-Mail: {email}
Gäste: {party}
Datum: {date}
Zeit: {time}
Telefon: {phone}
Nachricht: {message}
Tags: {tags}

Ihre Reservierungsnummer lautet: {reservation_number}

{booking_modified}

<strong>Eine Nachricht von uns</strong>
{note_from_us}

<strong>Reservierungspolitik</strong>
{reservation_policy}

zum Kalender hinzufügen
{add_to_calendar}

{social}

Sie können Ihre Buchung hier stornieren:
{mybooking}

Diese Nachricht wurde von {site_link} am {current_date} gesendet.
