Ihre Buchung steht am {date} aus

Hallo {name},

Ihre Buchungsanfrage wartet auf die Bestätigung.
Geben Sie uns einen Moment Zeit, um sicherzustellen, dass wir Platz für Sie haben.

Sie erhalten in Kürze eine weitere E-Mail von uns.
Wenn diese Anfrage außerhalb unserer normalen Arbeitszeiten gestellt wurde, können wir sie möglicherweise erst bestätigen, wenn wir wieder geöffnet haben.

Ihre Anfragedetails:
Name: {name}
Email: {email}
Gäste: {party}
Datum: {date}
Zeit: {time}
Telefon: {phone}
Nachricht: {message}
Tags: {tags}

Ihre Reservierungsnummer lautet: {reservation_number}

<strong>Eine Anmerkung von uns</strong>
{note_from_us}

<strong >Reservierungsrichtlinie</strong>
{reservation_policy}

Zum Kalender hinzufügen
{add_to_calendar}

{social}


Sie können Ihre Buchung hier aktualisieren oder stornieren:
{mybooking}


Diese Nachricht wurde von {site_link} am {current_date} gesendet.
