Herinnering aan uw reservering

Beste {name},

Ik schrijf u om u te herinneren aan uw reservering bij {restaurant} op {date} om {time}. We kijken ernaar uit u te verwelkomen in ons etablissement en u een onvergetelijke eetervaring te bezorgen.

Als gewaardeerde klant willen we ervoor zorgen dat uw reservering nog steeds wordt bevestigd en dat u de nodige aanpassingen kunt doen. Als u om welke reden dan ook uw reserveringstijd moet wijzigen of annuleren, aarzel dan niet om contact met ons op te nemen via {restaurant_phone}.

U kunt uw boeking ook wijzigen of annuleren via deze link: {mybooking}

Ons team van {restaurant} is verheugd u van dienst te kunnen zijn en we zullen ons best doen om ervoor te zorgen dat uw eetervaring uitzonderlijk is. Als u speciale verzoeken of dieetbeperkingen heeft, laat het ons dan weten en we zullen ons best doen om hieraan tegemoet te komen.

Bedankt dat je voor ons hebt gekozen en we kijken ernaar uit je snel te zien.

Dit bericht is verzonden door {site_link} op {current_date}.
