Din reservasjon er endret til {date}

Hei {name},

Din reservasjon er blitt riktig endret.
Du vil motta en annen e-post angående statusen til reservasjonen din.


Detaljene i forespørselen din:
Navn: {name}
E-post: {email}
Gjester: {party}
Dato: {date}
Tid: {time}
Telefon: {phone}
Melding: {message}
Merker: {tags}

Ditt reservasjonsnummer er: {reservation_number}

{booking_modified}

<strong>En beskjed fra oss</strong>
{note_from_us}

<strong>Reservasjonspolicy</strong>
{reservation_policy}

legg til i kalender
{add_to_calendar}

{social}

Du kan kansellere reservasjonen din her:
{mybooking}

Denne meldingen ble sendt av {site_link} den {current_date}.
