Bestillingen din er bekreftet {date}

Hei {name},

Din bestillingsforespørsel er bekreftet.

Vi ser frem til å se deg snart.

Din forespørselsdetaljer:
Navn: {name}
E-post: {email}
Gjester: {party}
Dato: {date}
Tid: {time}
Telefon: {phone}
Melding: {message}
Tags: {tags}

Reservasjonsnummeret ditt er: {reservation_number}

<strong>Et notat fra oss</strong>
{note_from_us}

<strong >Retningslinjer for reservasjon</strong>
{reservation_policy}

legge til i kalenderen
{add_to_calendar}

{social}


Du kan oppdatere eller kansellere bestillingen din her:
{mybooking}


Denne meldingen ble sendt av {site_link} {current_date}.
