Din reservasjon har blitt bekreftet på {date}

Hei {name},

Takk for at du bekreftet din reservasjon.

Vi ser frem til å se deg snart.

Dine forespørselsdetaljer:
Navn: {name}
E-post: {email}
Gjester: {party}
Dato: {date}
Tid: {time}
Telefon: {phone}
Melding: {message}
Tags: {tags}

Ditt reservasjonsnummer er: {reservation_number}

<strong>En melding fra oss</strong>
{note_from_us}

<strong>Reservasjonsregler</strong>
{reservation_policy}

Legg til i kalenderen
{add_to_calendar}

{social}

Du kan avbestille din reservasjon her:
{mybooking}

Denne meldingen ble sendt av {site_link} den {current_date}.
