Bestillingen din venter på {date}

Hei {name},

Bestillingsforespørselen din venter på å bli bekreftet.
Gi oss et øyeblikk for å sikre at vi har plass til deg.

Du vil snart motta en ny e-post fra oss.
Hvis denne forespørselen ble gjort utenfor vår vanlige arbeidstid, kan det hende vi ikke kan bekrefte det før vi åpner igjen.

Din forespørselsdetaljer:
Navn: {name}
E-post: {email}
Gjester: {party}
Dato: {date}
Tid: {time}
Telefon: {phone}
Melding: {message}
Tags: {tags}

Reservasjonsnummeret ditt er: {reservation_number}

<strong>Et notat fra oss</strong>
{note_from_us}

<strong >Retningslinjer for reservasjon</strong>
{reservation_policy}

legge til i kalenderen
{add_to_calendar}

{social}


Du kan oppdatere eller kansellere bestillingen din her:
{mybooking}


Denne meldingen ble sendt av {site_link} {current_date}.
