Din reservasjon den {date} venter på betaling

Hei {name},


Vi har lagt merke til at din reservasjonsforespørsel fortsatt venter på betaling. Vennligst fortsett med betalingen for å bekrefte reservasjonen.

For å fullføre reservasjonen, følg denne lenken:
{mybooking}

Dine forespørselsdetaljer:
Navn: {name}
Email: {email}
Gjester: {party}
Dato: {date}
Tid: {time}
Telefon: {phone}
Melding: {message}
Tags: {tags}

Ditt reservasjonsnummer er: {reservation_number}

<strong>En merknad fra oss</strong>
{note_from_us}

<strong>Reservasjonspolicy</strong>
{reservation_policy}

legg til i kalenderen
{add_to_calendar}

{social}


Denne meldingen ble sendt av {site_link} den {current_date}.
