Your booking has been modified to {date}

Hello {name},

Your booking has been correctly modified.
You will receive another email regarding the status of your reservation.


Your request details:
Name: {name}
Email: {email}
Guests: {party}
Date: {date}
Time: {time}
Phone: {phone}
Message: {message}
Tags: {tags}

Your reservation number is: {reservation_number}

{booking_modified}

<strong>A note from us</strong>
{note_from_us}

<strong >Reservation Policy</strong>
{reservation_policy}

add to calendar
{add_to_calendar}

{social}


You can cancel your booking here:
{mybooking}


This message was sent by {site_link} on {current_date}.
