Your booking on {date} is awaiting payment

Hello {name},


We have noticed that your booking request is still pending payment. Please proceed with the payment to confirm your reservation.

To complete your reservation, please follow this link:
{mybooking}

Your request details:
Name: {name}
Email: {email}
Guests: {party}
Date: {date}
Time: {time}
Phone: {phone}
Message: {message}
Tags: {tags}

Your reservation number is: {reservation_number}

<strong>A note from us</strong>
{note_from_us}

<strong >Reservation Policy</strong>
{reservation_policy}

add to calendar
{add_to_calendar}

{social}


This message was sent by {site_link} on {current_date}.
