Your booking is confirmed at {date}

Hello {name},

Your booking request has been confirmed.

We look forward to seeing you soon.

Your request details:
Name: {name}
Email: {email}
Guests: {party}
Date: {date}
Time: {time}
Phone: {phone}
Message: {message}
Tags: {tags}

Your reservation number is: {reservation_number}

<strong>A note from us</strong>
{note_from_us}

<strong >Reservation Policy</strong>
{reservation_policy}

add to calendar
{add_to_calendar}

{social}


You can update or cancel your booking here:
{mybooking}


This message was sent by {site_link} on {current_date}.
