Your booking is pending at {date}

Hello {name},

Your booking request is wating to be confirmed.
Give us a few moments to make sure that we have got space for you.

You will receive another email from us soon.
If this request was made outside of our normal working hours, we may not be able to confirm it until we are open again.

Your request details:
Name: {name}
Email: {email}
Guests: {party}
Date: {date}
Time: {time}
Phone: {phone}
Message: {message}
Tags: {tags}

Your reservation number is: {reservation_number}

<strong>A note from us</strong>
{note_from_us}

<strong >Reservation Policy</strong>
{reservation_policy}

add to calendar
{add_to_calendar}

{social}


You can update or cancel your booking here:
{mybooking}


This message was sent by {site_link} on {current_date}.
