La tua prenotazione del {date} è in attesa di pagamento

Ciao {name},


Abbiamo notato che la tua richiesta di prenotazione è ancora in attesa di pagamento. Si prega di procedere con il pagamento per confermare la prenotazione.

Per completare la tua prenotazione, segui questo link:
{mybooking}

I dettagli della tua richiesta:
Nome: {name}
Email: {email}
Ospiti: {party}
Data: {date}
Ora: {time}
Telefono: {phone}
Messaggio: {message}
Tag: {tags}

Il tuo numero di prenotazione è: {reservation_number}

<strong>Una nota da parte nostra</strong>
{note_from_us}

<strong>Politica di prenotazione</strong>
{reservation_policy}

aggiungi al calendario
{add_to_calendar}

{social}


Questo messaggio è stato inviato da {site_link} il {current_date}.
