Hai confermato nuovamente la tua prenotazione in data {date}

Ciao {name},

Grazie per aver confermato la tua prenotazione.

Non vediamo l'ora di vederti presto.

Dettagli della tua richiesta:
Nome: {name}
E-mail: {email}
Ospiti: {party}
Data: {date}
Ora: {time}
Telefono: {phone}
Messaggio: {message}
Tag: {tags}

Il numero della tua prenotazione è: {reservation_number}

<strong>Una nota da parte nostra</strong>
{note_from_us}

<strong>Politica di prenotazione</strong>
{reservation_policy}

Aggiungi al calendario
{add_to_calendar}

{social}

Puoi annullare la tua prenotazione qui:
{mybooking}

Questo messaggio è stato inviato da {site_link} il {current_date}.
