La tua prenotazione è confermata il giorno {date}

Ciao {name},

La tua richiesta di prenotazione è stata confermata.

Non vediamo l'ora di vedervi presto.

I dettagli della tua richiesta:
Nome: {name}
E-mail: {email}
Ospiti: {party}
Data: {date}
Ora: {time}
Telefono: {phone}
Messaggio: {message}
Tag: {tags}

Il tuo numero di prenotazione è: {reservation_number}

<strong>Una nostra nota</strong>
{note_from_us}

<strong>Politiche di prenotazione</strong>
{reservation_policy}

aggiungere al calendario
{add_to_calendar}

{social}


Puoi aggiornare o cancellare la tua prenotazione qui:
{mybooking}


Questo messaggio è stato inviato da {site_link} in data {current_date}.
