La tua prenotazione è stata modificata per {date}

Ciao {name},

La tua prenotazione è stata correttamente modificata.
Riceverai un'altra email riguardo lo stato della tua prenotazione.


I dettagli della tua richiesta:
Nome: {name}
Email: {email}
Ospiti: {party}
Data: {date}
Ora: {time}
Telefono: {phone}
Messaggio: {message}
Tag: {tags}

Il tuo numero di prenotazione è: {reservation_number}

{booking_modified}

<strong>Una nota da parte nostra</strong>
{note_from_us}

<strong>Politica di Prenotazione</strong>
{reservation_policy}

aggiungi al calendario
{add_to_calendar}

{social}

Puoi annullare la tua prenotazione qui:
{mybooking}

Questo messaggio è stato inviato da {site_link} il {current_date}.
