La tua prenotazione è in sospeso il giorno {date}

Ciao {name},

La tua richiesta di prenotazione è in attesa di conferma.
Concedici qualche istante per assicurarci di avere spazio per te.

Riceverai presto un'altra email da parte nostra.
Se questa richiesta è stata fatta al di fuori del nostro normale orario di lavoro, potremmo non essere in grado di confermarla fino a quando non saremo di nuovo aperti.

I dettagli della tua richiesta:
Nome: {name}
E-mail: {email}
Ospiti: {party}
Data: {date}
Ora: {time}
Telefono: {phone}
Messaggio: {message}
Tag: {tags}

Il tuo numero di prenotazione è: {reservation_number}

<strong>Una nostra nota</strong>
{note_from_us}

<strong>Politiche di prenotazione</strong>
{reservation_policy}

aggiungere al calendario
{add_to_calendar}

{social}


Puoi aggiornare o cancellare la tua prenotazione qui:
{mybooking}


Questo messaggio è stato inviato da {site_link} in data {current_date}.
