Påminnelse om din bokning

Bästa {name},

Jag skriver för att påminna dig om din bokning på {restaurant} den {date} kl. {time}. Vi ser fram emot att välkomna dig till vår anläggning och ge dig en minnesvärd matupplevelse.

Som en uppskattad kund vill vi säkerställa att din bokning fortfarande är bekräftad och att du kan göra nödvändiga justeringar. Om du av någon anledning behöver ändra din bokningstid eller avboka den, tveka inte att kontakta oss på {restaurant_phone}.

Du kan också ändra eller avboka din bokning med den här länken: {mybooking}

Vårt team på {restaurant} är glada över att få möjligheten att servera dig, och vi kommer att göra vårt bästa för att se till att din matupplevelse blir exceptionell. Om du har några speciella önskemål eller kostrestriktioner, vänligen meddela oss, så kommer vi att göra vårt bästa för att tillgodose dem.

Tack för att du valde oss och vi ser fram emot att se dig snart.

Det här meddelandet skickades av {site_link} den {current_date}.
