Uw boeking is in behandeling op {date}

Hallo {name},

Uw boekingsaanvraag wacht op bevestiging.
Geef ons even de tijd om er zeker van te zijn dat we ruimte voor je hebben.

U ontvangt binnenkort weer een e-mail van ons.
Als dit verzoek buiten onze normale werkuren is gedaan, kunnen we dit mogelijk pas bevestigen als we weer open zijn.

Uw aanvraaggegevens:
Naam: {name}
E-mail: {email}
Gasten: {party}
Datum: {date}
Tijd: {time}
Telefoon: {phone}
Bericht: {message}
Labels: {tags}

Uw reserveringsnummer is: {reservation_number}

<strong>Een opmerking van ons</strong>
{note_from_us}

<strong >Reserveringsbeleid</strong>
{reservation_policy}

toevoegen aan kalender
{add_to_calendar}

{social}


U kunt uw boeking hier bijwerken of annuleren:
{mybooking}


Dit bericht is verzonden door {site_link} op {current_date}.
