Je hebt je boeking op {date} opnieuw bevestigd.

Hallo {name},

Bedankt voor het bevestigen van je reservering.

We kijken ernaar uit je binnenkort te zien.

Details van je aanvraag:
Naam: {name}
E-mail: {email}
Gasten: {party}
Datum: {date}
Tijd: {time}
Telefoon: {phone}
Bericht: {message}
Tags: {tags}

Je reserveringsnummer is: {reservation_number}

<strong>Een bericht van ons</strong>
{note_from_us}

<strong>Reserveringsbeleid</strong>
{reservation_policy}

Toevoegen aan de agenda
{add_to_calendar}

{social}

Je kunt je reservering hier annuleren:
{mybooking}

Dit bericht is verzonden door {site_link} op {current_date}.
