Uw reservering op {date} wacht op betaling

Hallo {name},


We hebben gemerkt dat uw reserveringsverzoek nog steeds in afwachting is van betaling. Ga alstublieft verder met de betaling om uw reservering te bevestigen.

Om uw reservering te voltooien, volgt u deze link:
{mybooking}

Uw verzoekgegevens:
Naam: {name}
Email: {email}
Gasten: {party}
Datum: {date}
Tijd: {time}
Telefoon: {phone}
Bericht: {message}
Tags: {tags}

Uw reserveringsnummer is: {reservation_number}

<strong>Een opmerking van ons</strong>
{note_from_us}

<strong>Reserveringsbeleid</strong>
{reservation_policy}

toevoegen aan kalender
{add_to_calendar}

{social}


Dit bericht is verzonden door {site_link} op {current_date}.
