Uw boeking is gewijzigd naar {date}

Hallo {name},

Uw boeking is correct gewijzigd.
U ontvangt een andere e-mail over de status van uw reservering.


Uw aanvraaggegevens:
Naam: {name}
E-mail: {email}
Gasten: {party}
Datum: {date}
Tijd: {time}
Telefoon: {phone}
Bericht: {message}
Tags: {tags}

Uw reserveringsnummer is: {reservation_number}

{booking_modified}

<strong>Een opmerking van ons</strong>
{note_from_us}

<strong>Reserveringsbeleid</strong>
{reservation_policy}

toevoegen aan kalender
{add_to_calendar}

{social}

U kunt uw boeking hier annuleren:
{mybooking}

Dit bericht is verzonden door {site_link} op {current_date}.
