Uw boeking is bevestigd op {date}

Hallo {name},

Uw boekingsaanvraag is bevestigd.

We zien ernaar uit je binnenkort te zien.

Uw aanvraaggegevens:
Naam: {name}
E-mail: {email}
Gasten: {party}
Datum: {date}
Tijd: {time}
Telefoon: {phone}
Bericht: {message}
Labels: {tags}

Uw reserveringsnummer is: {reservation_number}

<strong>Een opmerking van ons</strong>
{note_from_us}

<strong >Reserveringsbeleid</strong>
{reservation_policy}

toevoegen aan kalender
{add_to_calendar}

{social}


U kunt uw boeking hier bijwerken of annuleren:
{mybooking}


Dit bericht is verzonden door {site_link} op {current_date}.
