Η κράτησή σας στις {date} εκκρεμεί πληρωμή

Γεια σας {name},


Παρατηρήσαμε ότι το αίτημα κράτησής σας εξακολουθεί να εκκρεμεί πληρωμή. Παρακαλώ προχωρήστε στην πληρωμή για να επιβεβαιώσετε την κράτησή σας.

Για να ολοκληρώσετε την κράτησή σας, παρακαλώ ακολουθήστε αυτόν τον σύνδεσμο:
{mybooking}

Τα στοιχεία του αιτήματός σας:
Όνομα: {name}
Email: {email}
Επισκέπτες: {party}
Ημερομηνία: {date}
Ώρα: {time}
Τηλέφωνο: {phone}
Μήνυμα: {message}
Ετικέτες: {tags}

Ο αριθμός της κράτησής σας είναι: {reservation_number}

<strong>Μια σημείωση από εμάς</strong>
{note_from_us}

<strong>Πολιτική Κρατήσεων</strong>
{reservation_policy}

προσθήκη στο ημερολόγιο
{add_to_calendar}

{social}


Αυτό το μήνυμα εστάλη από το {site_link} στις {current_date}.
