Η κράτησή σας επιβεβαιώθηκε στις {date}

Γεια σας {name},

Το αίτημα κράτησής σας επιβεβαιώθηκε.

Ανυπομονούμε να σας δούμε σύντομα.

Λεπτομέρειες του αιτήματός σας:
Όνομα: {name}
Διεύθυνση ηλεκτρονικού ταχυδρομείου: {email}
Προσκεκλημένοι: {party}
Ημερομηνία: {date}
Ώρα: {time}
Τηλέφωνο: {phone}
Μήνυμα: {message}
Ετικέτες: {tags}

Ο αριθμός κράτησής σας είναι: {reservation_number}

<strong>Μια σημείωση από εμάς</strong>
{note_from_us}

<strong >Πολιτική κρατήσεων</strong>
{reservation_policy}

προσθήκη στο ημερολόγιο
{add_to_calendar}

{social}


Μπορείτε να ενημερώσετε ή να ακυρώσετε την κράτησή σας εδώ:
{mybooking}


Αυτό το μήνυμα στάλθηκε από τον χρήστη {site_link} στις {current_date}.
