Η κράτησή σας για {date} απορρίφθηκε

Γεια σας {name},

Λυπούμαστε, δεν μπορέσαμε να ικανοποιήσουμε το αίτημα κράτησής σας.
Είμαστε γεμάτοι ή δεν έχουμε ανοίξει τη στιγμή που ζητήσατε.

Λεπτομέρειες του αιτήματός σας:
Όνομα: {name}
Διεύθυνση ηλεκτρονικού ταχυδρομείου: {email}
Προσκεκλημένοι: {party}
Ημερομηνία: {date}
Ώρα: {time}
Τηλέφωνο: {phone}
Μήνυμα: {message}
Ετικέτες: {tags}

Ο αριθμός κράτησής σας είναι: {reservation_number}

Αυτό το μήνυμα στάλθηκε από τον χρήστη {site_link} στις {current_date}.
