Έχετε επαναεπιβεβαιώσει την κράτησή σας στις {date}

Γειά σας {name},

Ευχαριστούμε που επιβεβαιώσατε την κράτησή σας.

Ανυπομονούμε να σας δούμε σύντομα.

Λεπτομέρειες του αιτήματός σας:
Όνομα: {name}
Email: {email}
Επισκέπτες: {party}
Ημερομηνία: {date}
Ώρα: {time}
Τηλέφωνο: {phone}
Μήνυμα: {message}
Ετικέτες: {tags}

Ο αριθμός κράτησής σας είναι: {reservation_number}

<strong>Ένα σημείωμα από εμάς</strong>
{note_from_us}

<strong>Πολιτική κράτησης</strong>
{reservation_policy}

Προσθήκη στο ημερολόγιο
{add_to_calendar}

{social}

Μπορείτε να ακυρώσετε την κράτησή σας εδώ:
{mybooking}

Αυτό το μήνυμα εστάλη από το {site_link} στις {current_date}.
