Promemoria della tua prenotazione

Caro {name},

Ti scrivo per ricordarti la tua prenotazione al {restaurant} il {date} alle {time}. Non vediamo l'ora di darvi il benvenuto nella nostra struttura e offrirvi un'esperienza culinaria memorabile.

Come cliente stimato, vogliamo assicurarci che la tua prenotazione sia ancora confermata e che tu sia in grado di apportare le modifiche necessarie. Se per qualsiasi motivo hai bisogno di modificare l'orario della prenotazione o annullarla, non esitare a contattarci al {restaurant_phone}.

Puoi anche modificare o cancellare la tua prenotazione utilizzando questo link: {mybooking}

Il nostro team di {restaurant} è entusiasta di avere l'opportunità di servirti e faremo del nostro meglio per garantire che la tua esperienza culinaria sia eccezionale. Se hai richieste speciali o restrizioni dietetiche, faccelo sapere e faremo del nostro meglio per soddisfarle.

Grazie per averci scelto e non vediamo l'ora di rivedervi presto.

Questo messaggio è stato inviato da {site_link} in data {current_date}.
