Has reconfirmado tu reserva en {date}

Hola {name},

Gracias por confirmar tu reserva.

Esperamos verte pronto.

Detalles de tu solicitud:
Nombre: {name}
Correo electrónico: {email}
Invitados: {party}
Fecha: {date}
Hora: {time}
Teléfono: {phone}
Mensaje: {message}
Etiquetas: {tags}

Tu número de reserva es: {reservation_number}

<strong>Un mensaje nuestro</strong>
{note_from_us}

<strong>Política de reserva</strong>
{reservation_policy}

Agregar al calendario
{add_to_calendar}

{social}

Puedes cancelar tu reserva aquí:
{mybooking}

Este mensaje fue enviado por {site_link} el {current_date}.
