Hola {name},

Hemos notado que tu solicitud de reserva aún está pendiente de pago. Por favor, procede con el pago para confirmar tu reserva.

Para completar tu reserva, sigue este enlace:
{mybooking}

Detalles de tu solicitud:
Nombre: {name}
Email: {email}
Número de personas: {party}
Fecha: {date}
Hora: {time}
Teléfono: {phone}
Mensaje: {message}
Etiquetas: {tags}

Tu número de reserva es: {reservation_number}

<strong>Una nota de nuestra parte</strong>
{note_from_us}

<strong>Política de Reservas</strong>
{reservation_policy}

añadir al calendario
{add_to_calendar}

{social}

Este mensaje fue enviado por {site_link} el {current_date}.
