Su reserva ha sido modificada para {date}

Hola {name},

Su reserva ha sido modificada correctamente.
Recibirá otro correo electrónico con respecto al estado de su reserva.


Los detalles de su solicitud:
Nombre: {name}
Correo electrónico: {email}
Invitados: {party}
Fecha: {date}
Hora: {time}
Teléfono: {phone}
Mensaje: {message}
Etiquetas: {tags}

Su número de reserva es: {reservation_number}

{booking_modified}

<strong>Una nota de nuestra parte</strong>
{note_from_us}

<strong>Política de Reservas</strong>
{reservation_policy}

añadir al calendario
{add_to_calendar}

{social}

Puede cancelar su reserva aquí:
{mybooking}

Este mensaje fue enviado por {site_link} el {current_date}.
