Su reserva está pendiente para la fecha {date}

Hola {name},

Su solicitud de reserva está esperando ser confirmada.
Denos unos momentos para asegurarnos de que tenemos espacio para usted.

Pronto recibirá otro correo electrónico nuestro.
Si esta solicitud se realizó fuera de nuestro horario laboral normal, es posible que no podamos confirmarla hasta que volvamos a abrir.

Detalles de su reserva:
Nombre: {name}
Email: {email}
Personas: {party}
Fecha: {date}
Hora: {time}
Teléfono: {phone}
Mensaje: {message}
Etiquetas: {tags}

Su numero de reserva es: {reservation_number}

<strong>Una anotación de nuestra parte</strong>
{note_from_us}

<strong >Política de reservas</strong>
{reservation_policy}

añadir al calendario
{add_to_calendar}

{social}


Puede cambiar o cancelar su reserva aquí:
{mybooking}


Este mensaje ha sido enviado por {site_link} en fecha {current_date}.
