Du har bekräftat din bokning den {date}

Hej {name},

Tack för att du har bekräftat din bokning.

Vi ser fram emot att träffa dig snart.

Dina bokningsdetaljer:
Namn: {name}
E-post: {email}
Gäster: {party}
Datum: {date}
Tid: {time}
Telefon: {phone}
Meddelande: {message}
Taggar: {tags}

Ditt bokningsnummer är: {reservation_number}

<strong>Ett meddelande från oss</strong>
{note_from_us}

<strong >Bokningspolicy</strong>
{reservation_policy}

Lägg till i kalender
{add_to_calendar}

{social}

Du kan avboka din bokning här:
{mybooking}

Detta meddelande skickades av {site_link} den {current_date}.
