Din bokning den {date} väntar på betalning

Hej {name},


Vi har märkt att din bokningsförfrågan fortfarande väntar på betalning. Vänligen fortsätt med betalningen för att bekräfta din bokning.

För att slutföra din bokning, följ denna länk:
{mybooking}

Dina förfrågningsdetaljer:
Namn: {name}
Email: {email}
Gäster: {party}
Datum: {date}
Tid: {time}
Telefon: {phone}
Meddelande: {message}
Taggar: {tags}

Ditt bokningsnummer är: {reservation_number}

<strong>Ett meddelande från oss</strong>
{note_from_us}

<strong>Bokningspolicy</strong>
{reservation_policy}

lägg till i kalendern
{add_to_calendar}

{social}


Detta meddelande skickades av {site_link} den {current_date}.
