Din bokning väntar den {date}

Hej {name},

Din bokningsförfrågan väntar på att bli bekräftad.
Ge oss ett par ögonblick för att se till att vi har plats för dig.

Du kommer att få ytterligare ett mejl från oss inom kort.
Om denna begäran gjordes utanför vår normala arbetstid kanske vi inte kan bekräfta det förrän vi öppnar igen.

Din förfrågan detaljer:
Namn: {name}
E-post: {email}
Gäster: {party}
Datum: {date}
Tid: {time}
Telefon: {phone}
Meddelande: {message}
Taggar: {tags}

Ditt bokningsnummer är: {reservation_number}

<strong>Ett meddelande från oss</strong>
{not_from_us}

<strong >Bokningspolicy</strong>
{reservation_policy}

lägga till i kalendern
{add_to_calendar}

{social}


Du kan uppdatera eller avboka din bokning här:
{mybooking}


Det här meddelandet skickades av {site_link} den {current_date}.
