Din bokning är bekräftad {date}

Hej {name},

Din bokningsförfrågan har bekräftats.

Vi ser fram emot att se dig snart.

Din förfrågan detaljer:
Namn: {name}
E-post: {email}
Gäster: {party}
Datum: {date}
Tid: {time}
Telefon: {phone}
Meddelande: {message}
Taggar: {tags}

Ditt bokningsnummer är: {reservation_number}

<strong>Ett meddelande från oss</strong>
{not_from_us}

<strong >Bokningspolicy</strong>
{reservation_policy}

lägga till i kalendern
{add_to_calendar}

{social}


Du kan uppdatera eller avboka din bokning här:
{mybooking}


Det här meddelandet skickades av {site_link} den {current_date}.
