Din bokning har ändrats till {date}

Hej {name},

Din bokning har ändrats korrekt.
Du kommer att få ett annat mejl angående statusen för din bokning.


Dina förfrågningsdetaljer:
Namn: {name}
E-post: {email}
Gäster: {party}
Datum: {date}
Tid: {time}
Telefon: {phone}
Meddelande: {message}
Taggar: {tags}

Ditt bokningsnummer är: {reservation_number}

{booking_modified}

<strong>Ett meddelande från oss</strong>
{note_from_us}

<strong>Bokningspolicy</strong>
{reservation_policy}

lägg till i kalender
{add_to_calendar}

{social}

Du kan avboka din bokning här:
{mybooking}

Detta meddelande skickades av {site_link} den {current_date}.
