Recordatorio de su reserva

Estimado {name},

Le escribo para recordarle su reserva en {restaurant} el {date} a las {time}. Esperamos darle la bienvenida a nuestro establecimiento y brindarle una experiencia gastronómica memorable.

Como cliente valioso, queremos asegurarnos de que su reserva aún esté confirmada y que pueda hacer los ajustes necesarios. Si por alguna razón necesita cambiar la hora de su reserva o cancelarla, no dude en comunicarse con nosotros al {restaurant_phone}.

También puede modificar o cancelar su reserva a través de este enlace: {mybooking}

Nuestro equipo en {restaurant} está emocionado de tener la oportunidad de servirle y haremos todo lo posible para garantizar que su experiencia gastronómica sea excepcional. Si tiene solicitudes especiales o restricciones dietéticas, háganoslo saber y haremos todo lo posible para satisfacerlas.

Gracias por elegirnos, y esperamos verte pronto.

Este mensaje fue enviado por {site_link} el {current_date}.
